* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    height: 100dvh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: url(assets/pexels-yunustug-7957992.jpg) center center;
    background-size: cover;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_box {
    padding: 0px 25px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #333;
    
}

header {
    width: 100%;
    margin: 60px 0 30px 0;
}

header h1 {
    width: 100%;
    text-align: start;
    margin-bottom: 5px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.input_username, .input_password {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-right: 12px;
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid black;
    border-radius: 10px;
}

.input_username input, .input_password input {
    width: 100%;
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    padding: 12px;
}

.input_username .username_icon, .input_password .password_icon {
    font-size: large;
}

 .input_username:focus-within, .input_password:focus-within {
    border-color: #27ae60;
    box-shadow: 0 0 8px rgba(39, 174, 96, 0.35);
}

.input_password input[type="password"]::-ms-reveal,
.input_password input[type="password"]::-webkit-password-eye {
    display: none;
}

.input_password.error {
    border-color: #e74c3c;
    box-shadow: 0 0 8px rgba(231, 76, 60, 0.4);
}

.input_password.success {
    border-color: #27ae60;
    box-shadow: 0 0 8px rgba(39, 174, 96, 0.35);
}

#status_icon {
    font-size: large;
    display: none;
    margin-right: 12px;

}

.remember_me {
    display: flex;
    margin-bottom: 30px;
}

.remember_me input {
    appearance: none;
    width: 17px;
    height: 17px;
    margin-right: 5px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(6px);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.remember_me input[type="checkbox"]:checked {
    background: #00C9A7;
    border-color: #00C9A7;
}

.remember_me input[type="checkbox"]:checked::after {
    content: "\2714";
    color: #fff;
    position: absolute;
    font-size: medium;
}

.btn_login button {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    margin-bottom: 5px;
    background: linear-gradient(135deg, #4CAF50, #00C9A7);
    font-size: large;
    font-weight: bold;
}

.sign_up {
    margin-bottom: 40px;
}

.sign_up p {
    text-align: center;
}

.sign_up a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

footer p {
    font-style: italic;
    font-weight: lighter;
}